<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/css/styles.min.css" rel="stylesheet">
    <link href="/static/css/adjust.css" rel="stylesheet">
    <title>Many Many Rooms</title>
</head>
<body>
<!--Header-->
<nav class="navbar container-fluid bg-primary" data-bs-theme="dark" style="width: 500px; margin-top: 35px;">
    <div class="container-fluid justify-content-center">
        <h1>Many Many Rooms</h1>
    </div>
</nav>

<!--Room Description-->
<div class="text-center left-right">
    <h1 class="room-title">Room {{ room }}</h1>
    <h1 class="desc">{{ description }}</h1>
</div>
<!--End of Room Description-->

<!--Preparation Room-->
{% if room == 0 %}
<div class="text-center left-right">
    <h1 class="desc" style="color: yellow;">Now you can see your starting stats</h1>

    <div class="accordion desc" id="accordionExample" style="margin-left: 600px; margin-right: 600px;">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Health
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    {{ health }}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Damage
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    {{ damage }}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Luck
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    {{ luck }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!--End of Preparation Room-->

<!--Other Rooms-->
{% if 0 < room <= 777 %}
<div class="text-center left-right">
    <h2 class="desc" style="color: aqua;">Items in this room: {{ items }}</h2>
    <h2 style="color: red;">Enemies in this room: {{ enemies }}</h2>
    {% if fight == 1 %}
    {% if health > 0 %}
    <h4 style="color: red;">Fight Won</h4>
    {% else %}
    <h4 style="color: red;">Fight Lost</h4>
    {% endif %}
    {% endif %}
    <h4 style="color: green;">Health: {{ health }}</h4>
    {% endif %}
</div>
<!--End of Other Rooms-->

<!--Path Selection-->
{% if health > 0 %}
{% if room < 1337 %}
<div class="desc big-left-right">
    <div class="row">
        <div class="col-4 text-center">
            <h5>Turn Left</h5>
            <a href="{{ url_for('room', room_number=room+left) }}">
                <button class="btn btn-outline-success btn-lg">Select</button>
            </a>
        </div>

        <div class="col-4 text-center">
            <h5>Go Straight</h5>
            <a href="{{ url_for('room', room_number=room+straight) }}">
                <button class="btn btn-outline-success btn-lg">Select</button>
            </a>
        </div>

        <div class="col-4 text-center">
            <h5>Turn Right</h5>
            <a href="{{ url_for('room', room_number=room+right) }}">
                <button class="btn btn-outline-success btn-lg">Select</button>
            </a>
        </div>
    </div>
</div>
{% else %}
<div class="text-center desc">
    <h5>Start Over</h5>
    <a href="{{ url_for('main') }}">
        <button class="btn btn-outline-success btn-lg">Time Travel</button>
    </a>
</div>
{% endif%}
{% else %}
<div class="desc big-left-right text-center">
    <h5>You are Dead</h5>
    <a href="{{ url_for('main') }}">
        <button class="btn btn-outline-danger btn-lg">Wake Up</button>
    </a>
</div>
{% endif %}
<!--End of Path Selection-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>